<% title "Modelos para CRUD" %>

<!-- INDEX -->
<div class="row">
  <div class="col s12">
    <h5>Index</h5>
    <%= render partial: 'crud_index'  %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h5>Create/Edit</h5>
    <%= render partial: 'crud_create'  %>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h5>Show</h5>
    <%= render partial: 'crud_show'  %>
  </div>
</div>